PySocks
Jinja2
certifi
urllib3
cryptography
cffi
defusedxml
markupsafe
pyopenssl
idna
chardet
charset_normalizer~=2.0.0
requests
requests_ntlm
colorama
ntlm_auth
pyparsing
beautifulsoup4
codespell 
flake8
